/* Home page layout block styles */

.block-inline-blockbasic , 
.block-announce-block, 
.block-inline-blocktest-content-block{
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    height: auto;
    margin: 5px 5px 5px 5px;
}

.block-field-blocknodearticlefield-summary,
.block-field-blocknodearticlebody {
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
}

.layout__region--header_right{
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
}

/* Department page layout block styles */

.layout--department-layout .layout__region--content {
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
}
.layout--department-layout .layout__region--sidebar {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px 0px 0px 10px;
}