/* Home page layout block styles */

.block-inline-blockbasic , 
.block-announce-block, 
.block-inline-blocktest-content-block{
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    height: auto;
    margin: 5px 5px 5px 5px;
}

/* Department page layout block styles */

.layout--department-layout .layout__region--content {
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px 0px 0px 0px;
}
.layout--department-layout .layout__region--sidebar {
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px 0px 0px 10px;
}
.block-block-contentc40c5bd3-b89e-454d-92be-0416137dbce3,
.block-block-contentd16ef6e3-50ff-48eb-b703-6657ac81689b{
    background-color: steelblue;
    border: 1px solid grey;
    border-radius: 5px;
    height: auto;
    margin: 20px 5px 5px 5px;
}