{% for item in items %}
<h5 style="
    text-align: center;
    font-style: Arial, Helvetica, sans-serif;
    color: #8d281e;
    font-family: tahoma, arial, helvetica, sans-serif;
    font-size: 20pt;
    margin: 30px 0px 0px 0px;
    ">{{ item.content }}</h5>
{% endfor %}